.note {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "MadimiOne", Arial, sans-serif;
  font-weight: lighter;
}

.tagsBlock {
  display: flex;
  gap: 0.3em;
  max-width: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  border: 2px solid gray;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 10px;
}

.markDownContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 10px;
}

.markDown {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Скрыть стандартный ползунок прокрутки */
.tagsBlock::-webkit-scrollbar {
  height: 10px; /* Ширина полосы прокрутки */
}

/* Стилизовать полосу прокрутки */
.tagsBlock::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
  border-radius: 10px; /* Радиус скругления */
  margin: 8px;
}

/* Стилизовать ползунок прокрутки */
.tagsBlock::-webkit-scrollbar-thumb {
  background-color: #555; /* Цвет ползунка */
  border-radius: 10px; /* Радиус скругления */
}

/* Изменить цвет при наведении на ползунок прокрутки */
.tagsBlock::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.tag {
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 0.5em;
  font-size: 18px;
}

.btn {
  margin: 0;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 0.5em;
  font-size: 15px;
  cursor: pointer;
}

.btn:active {
  transform: scale(1.1);
}

.btn:nth-child(1) {
  background-color: blue;
  color: white;
}

.btn:nth-child(2) {
  color: rgb(255, 114, 114);
  border-color: rgb(255, 114, 114);
  margin: 0 10px 0;
}

.btn:nth-child(3) {
  color: rgb(160, 160, 160);
  border-color: rgb(160, 160, 160);
}

.controlBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 930px) {
  .controlBar {
    flex-direction: column-reverse;
    gap: 10px;
    margin: 20px auto 0;
  }
  .btn:nth-child(2) {
    margin: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 560px) {
  .tagsBlock {
    max-width: 200px;
  }

  .tagsBlock::-webkit-scrollbar {
    height: 20px;
  }

  .header {
    margin-bottom: 10px;
  }
}
